extends layouts/main

block content
    .editProfile
        .editBox
            h3#title 프로필 수정
            a.button.white#exit(href=routes.userDetail(nowUser.userName)) 나가기
        include ./partials/changeImageForm
        .editBox
            .edit-text ID : 
            .edit-input
                form(action=routes.editProfile(nowUser.userName) + "?_method=PATCH", method="post")
                    input(type="text", name="userName", placeholder="변경할 이름을 입력하세요.", required=true)
                    input.button.white(type="submit", value="ID 변경")
            .edit-msg#userName_msg
        .editBox#email-box
            .edit-text E-mail : 
            .edit-input#email-input
                input(type="email", id="email", name="email", placeholder="변경할 이메일을 입력하세요.", required=true)
                input.button.white(type="button", id="emailBt", value="인증 요청")
            .edit-msg#email_msg
        form(action=routes.editProfile(nowUser.userName) + "?_method=PATCH", method="post")
            .editBox
                .edit-text Original Password : 
                .edit-input
                    input(type="password", name="password_ori", placeholder="기존 비밀번호를 입력하세요.", required=true)
                .edit-msg#password_ori_msg
            .editBox
                .edit-text New Password : 
                .edit-input
                    input(type="password", name="password_new1", placeholder="바꿀 비밀번호를 입력하세요.", required=true) 
            .editBox
                .edit-text Retry New Password : 
                .edit-input
                    input(type="password", name="password_new2", placeholder="비밀번호를 한번 더 입력하세요.", required=true)
                    input.button.white(type="submit", value="비밀번호 변경")
                .edit-msg#password_new_msg

        script.
            const emailBt = document.getElementById("emailBt");

            emailBt.addEventListener("click", () => {
                verifySubmit( "#{routes.checkEmail}" , 'email').then(codeBt => {

                    codeBt.addEventListener("click", async ()=> {

                        await fetch("#{routes.editProfile(nowUser.userName)}", { method: "PATCH" ,
                        headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                }, 
                        body: JSON.stringify({email: document.getElementById("email").value})
                    }).then(data => {window.location.href = "#{routes.editProfile(nowUser.userName)}";})
                    //이메일 변경 완료시 초기화
                })
                }).catch(err => console.log(err))
            })

            const msg_obj = !{JSON.stringify(message)}[0]

            if(msg_obj){
                const msg_form = document.getElementById(msg_obj.tag);

                msg_form.style.color = msg_obj.clr;
                msg_form.innerHTML = msg_obj.text;
            }