extends layouts/main

block content
    .join
        p 회원가입 페이지입니다 
        p #{tryMsg}
        form(action=routes.join, method="post")
            input(type="text", placeholder="아이디를 입력하세요.", name="userName", id="userName", required=true)
            br
            input(type="text", placeholder="이메일을 입력하세요.", name="email", id="email", required=true)
            br
            input(type="password", placeholder="패스워드를 입력하세요.", name="password1", id="password1", required=true)
            br
            input(type="password", placeholder="패스워드를 한번 더 입력하세요.", name="password2", id="password2", required=true)
            br
            input(type="submit", value="Join")