extends layouts/main

block content
    .join
        p 회원가입 페이지입니다 
        form(action=routes.join, method="post", id="joinForm")
            .input_boxes
                .edit-text ID
                .edit-input
                    input(type="text", id="userName", name="userName", placeholder="아이디를 입력하세요.", required=true)
                    input(type="button", id="userNameBt", value="중복 확인")  
            #userName-msg
            .input_boxes#email-box
                .edit-text E-mail
                .edit-input
                    input(type="email", id="email", name="email", placeholder="이메일을 입력하세요.", required=true)
                    input(type="button", id="emailBt", value="인증 요청")
            #email-msg
            .input_boxes
                .edit-text Password
                .edit-input
                    input(type="password", id="password1", name="password1", placeholder="비밀번호를 입력하세요.", required=true) 
            .input_boxes
                .edit-text Confirm Password
                .edit-input
                    input(type="password", id="password2", name="password2", placeholder="비밀번호를 한번 더 입력하세요.", required=true)
            #pw-msg
            input(type="button", value="Join", id="joinBt")
            
        script.
            const userNameBt = document.getElementById("userNameBt");
            const emailBt = document.getElementById("emailBt");
            const joinBt = document.getElementById("joinBt");

            userNameBt.addEventListener("click", () => {
                verifySubmit( "#{routes.checkId}" , 'userName');
            })

            emailBt.addEventListener("click", () => {
                verifySubmit( "#{routes.checkEmail}" , 'email');
            })

            joinBt.addEventListener("click", () => {
                joinChecker("#{routes.join}", 'joinForm');
            })

