extends layouts/main

block content
    .join
        p 회원가입 페이지입니다 
        form(action=routes.join, method="post", id="joinForm")
            .input_boxes
                .edit-text ID
                .edit-input
                    input(type="text", id="userName", name="userName", placeholder="아이디를 입력하세요.", required=true)
                    input(type="button", value="중복 확인", onClick="verifySubmit(\'" + routes.checkId + "\', \'userName\')") 
            #userName-msg
            .input_boxes
                .edit-text E-mail
                .edit-input
                    input(type="email", id="email", name="email", placeholder="이메일을 입력하세요.", required=true)
                    input(type="button", value="인증 요청", id="verifyBt", onClick="verifySubmit(\'" + routes.checkEmail + "\', \'email\')")
            #email-msg
            .input_boxes
                .edit-text Password
                .edit-input
                    input(type="password", id="password1", name="password1", placeholder="비밀번호를 입력하세요.", required=true) 
            .input_boxes
                .edit-text Confirm Password
                .edit-input
                    input(type="password", id="password2", name="password2", placeholder="비밀번호를 한번 더 입력하세요.", required=true)
            #pw-msg
            input(type="button", value="Join", onClick="joinChecker(\'" + routes.join + "\', \'joinForm\')")
            