#edit_text(align="right")
            p ID : 
            p E-mail : 
            p Original Password : 
            p New Password :   
            p Retry New Password : 
        #edit_box(align="left")
            form(action=routes.editProfile(nowUser.userName) + "?_method=PATCH", method="post")
                input(type="text", id="userName", name="userName", placeholder="변경할 이름을 입력하세요.", class="edit-boxes")
                input(type="submit", value="ID 변경", class="edit-boxes")
            form(action=routes.editProfile(nowUser.userName) + "?_method=PATCH", method="post")
                input(type="email", id="email", name="email", placeholder="변경할 이메일을 입력하세요.", class="edit-boxes")
                input(type="submit", value="email 변경", class="edit-boxes")
            form(action=routes.editProfile(nowUser.userName) + "?_method=PATCH", method="post")
                input(type="password", id="password_ori", name="password_ori", placeholder="기존 비밀번호를 입력하세요.", class="edit-boxes")
                input(type="password", id="password_new1", name="password_new1", placeholder="바꿀 비밀번호를 입력하세요.", class="edit-boxes") 
                input(type="password", id="password_new2", name="password_new2", placeholder="비밀번호를 한번 더 입력하세요.", class="edit-boxes")
                input(type="submit", value="비밀번호 변경", class="edit-boxes")
        #id_warn(align="left")
            p #{id_warn}
        #email_warn(align="left")
            p #{email_warn}
            p #{pwori_warn}
            br
            p #{pwnew_warn}