extends layouts/main
include mixins/videoBlock

block content
    .video_player
        if isCreator
            form(action=routes.videos + routes.deleteVideo + "?_method=DELETE", method="POST")
                button(type="submit", name="videoID", value=video.id, id="deleteBt") Delete
            button(type="button", onclick="location.href='routes.editVideo(video.id)'", class="editVideoBt", id="editBt") Edit
        video(src=routes.home + video.fileUrl, controls, id="nowVideo")
        script.
            const video = document.getElementById("nowVideo");

            video.addEventListener("playing", () => {
                view(document.location.href);
            });
            //비디오 재생 시 이벤트 발생
        a(href=routes.userDetail(creator)) #{creator}
        h2 #{video.videoName}
        p #{video.description}
        p 
            b Views 
            | : #{video.views}