extends layouts/main
include mixins/videoBlock
include mixins/commentBlock

block content
    .video_player
        .video_buttons
            if isCreator
                a.button.white#editBt(href=routes.editVideo(video.id)) Edit
                form(action=routes.videos + routes.deleteVideo + "?_method=DELETE", method="POST")
                    button.button.white#deleteBt(type="submit", name="videoID", value=video.id) Delete
        video(src=routes.home + video.fileUrl, controls, id="nowVideo")
        script.
            const video = document.getElementById("nowVideo");

            video.addEventListener("playing", () => {
                view(document.location.href);
            });
            //비디오 재생 시 이벤트 발생
        p 
            b Creator : 
                a(href=routes.userDetail(creator)) #{creator}
        h2 #{video.videoName}
        p #{video.description}
        p 
            b Views 
            | : #{video.views}
        
        each item in comments
            +commentBlock({
                id: item.id,
                author: item.author,
                text: item.text,
                isDeleted: item.isDeleted,
                createdAt: item.createdAt,
                updatedAt: item.updatedAt,
                videoID: video.id
            })
        form(action=routes.videoDetail(video.id), method="POST")
            input(type="text", placeholder="댓글 치셈", name="comment")
            input(type="hidden", name="parent")
            input.button.white(type="submit", value="입력")

        script.
            const replytag = document.getElementsByClassName("reply");
            const edittag = document.getElementsByClassName("edit");
            const deletetag = document.getElementsByClassName("delete");

            const deleteForm = document.getElementsByClassName("deleteForm");
            
            const link = (idx) => {
                console.log(idx);
                deletetag[idx].addEventListener("click", () => {
                
                deleteForm[idx].submit();
                })
            }

            for(var i = 0; i < deletetag.length; i++){
                link(i);
            }