extends layouts/main
include mixins/videoBlock

block content
    .video_player
        video(src=routes.home + video.fileUrl, width="1280px". height="720px", controls, id="nowVideo")
        script.
            const video = document.getElementById("nowVideo");

            video.addEventListener("playing", () => {
                view(document.location.href);
            });
            //비디오 재생 시 이벤트 발생
    .video_edit
        h2 #{video.videoName}
        p #{video.description}
        p 
            b Views 
            | : #{video.views}
        a(href=routes.editVideo(video.id)) Edit