extends layouts/main
include mixins/videoBlock
include mixins/commentBlock

block content
    .video_player
        .video_buttons
            if isCreator
                a.button.white#editBt(href=routes.editVideo(video.id)) Edit
                form(action=routes.deleteVideo(video.id) + "?_method=DELETE", method="POST")
                    button.button.white#deleteBt(type="submit") Delete
        video(src=routes.home + video.fileUrl, controls, id="nowVideo")
        script.
            const video = document.getElementById("nowVideo");

            video.addEventListener("playing", () => {
                view(document.location.href);
            });
            //비디오 재생 시 이벤트 발생
        p 
            b Creator : 
                a(href=routes.userDetail(creator)) #{creator}
        h2 제목 : #{video.videoName}
        p 설명: #{video.description}
        p 
            b 조회 수 
            | : #{video.views}
        
        each item in comments
            +commentBlock({
                id: item.id,
                author: item.author,
                text: item.text,
                isDeleted: item.isDeleted,
                createdAt: item.createdAt,
                updatedAt: item.updatedAt,
                videoID: video.id
            })
        include ./partials/commentInputForm

        script.
            const replytag = document.getElementsByClassName("reply");
            const edittag = document.getElementsByClassName("edit");
            const deletetag = document.getElementsByClassName("delete");

            const commentBlock = document.getElementsByClassName("commentBlock");

            //const replyForm = document.getElementsByClassName("replyForm");
            const editForm = document.getElementsByClassName("editForm");
            const deleteForm = document.getElementsByClassName("deleteForm");

            addCommentReplyEvent(replytag, commentBlock, "click", "#{routes.comment(video.id)}", !{JSON.stringify(comments)});
            addCommentDeleteEvent(deletetag, deleteForm, "click");
            //linkTagWithForm(edittag, editForm, "click");
            

            