
mixin videoBlock(video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video(src=video.fileUrl, controls, class="nowVideo", id=video.id)
            h2 제목 : #{video.videoName}
            p 설명 : #{video.description}
            p 조회 수 : #{video.views}