
mixin videoBlock(video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video(src=routes.home + video.fileUrl, controls, class="nowVideo", id=video.id)
            h2=video.videoName
            p=video.description
            p=video.views